## Ignore text files.
*.txt
*.csv

## Ignore vim files.
*.swp

## Ignore mac files.
*.DS_Store

## Figures
*.png
*.pdf
*.jpg
*.jpeg
*.tif
*.tiff
*.avi
*.mp4
*.eps

## MATLAB.
*.asv
*.mat

## Tilde files.
*~

## Ignore TeX files.
*.aux
*.bcf
*.blg
*.log
*.nav
*.out
*.run.xml
*.snm
*.toc
*.bbl

# C extensions
*.a
*.dylib
*.so


############
#  Python  #
############

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.o

# Distribution / packaging
.Python
env/
bin/
build/
_build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot
